<a href="https://colab.research.google.com/github/jihokkim/CloudNative-VBCS/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!cat /etc/issue.net
!head /proc/cpuinfo
!head -n 3 /proc/meminfo

Ubuntu 18.04.3 LTS
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2200.000
cache size	: 56320 KB
physical id	: 0
MemTotal:       13335192 kB
MemFree:        11074520 kB
MemAvailable:   12532060 kB

In [0]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [0]:
from google.colab import auth
auth.authenticate_user()

자주 끊기므로 이 액션을 반복해야함.ㅜㅜ

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
!pip install regressors

Collecting regressors
  Downloading https://files.pythonhosted.org/packages/80/5d/bacfcf2b3865305156e2507ed9a968cb6c7f326cad1d1720e60f80d02797/regressors-0.0.3.tar.gz
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from regressors) (1.16.5)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from regressors) (1.3.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from regressors) (3.0.3)
Requirement already satisfied: scikit-learn>=0.17 in /usr/local/lib/python3.6/dist-packages (from regressors) (0.21.3)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from regressors) (0.10.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from regressors) (0.9.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from regressors) (0.24.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (2.5.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->regressors) (0.13.2)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.6.1->regressors) (0.5.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->regressors) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->regressors) (41.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->regressors) (1.12.0)
Building wheels for collected packages: regressors
  Building wheel for regressors (setup.py) ... done
  Created wheel for regressors: filename=regressors-0.0.3-py2.py3-none-any.whl size=12375 sha256=199e2cc018c6920be9a1cdb9e28cdc3258651434457dcefbbbe902a67d5ffd54
  Stored in directory: /root/.cache/pip/wheels/b2/89/fc/7867f77234d0033395f7ad9814f245b337139acaa06b085aa2
Successfully built regressors
Installing collected packages: regressors
Successfully installed regressors-0.0.3

In [6]:
!pip install regressors

Requirement already satisfied: regressors in /usr/local/lib/python3.6/dist-packages (0.0.3)
Requirement already satisfied: scikit-learn>=0.17 in /usr/local/lib/python3.6/dist-packages (from regressors) (0.21.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from regressors) (3.0.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from regressors) (0.9.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from regressors) (0.10.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from regressors) (0.24.2)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from regressors) (1.16.5)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from regressors) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->regressors) (0.13.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (2.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->regressors) (0.10.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.6.1->regressors) (0.5.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->regressors) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->regressors) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->regressors) (41.2.0)

In [0]:
import pandas as pd
import numpy as np
import os
import statsmodels.api as sm


from sklearn import linear_model
from itertools import cycle, islice
from regressors import stats
from toolz import *
from matplotlib import pyplot as plt
from IPython.display import display, HTML
from google.colab import auth
from google.cloud import bigquery

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

In [0]:
auth.authenticate_user()

In [0]:
project_id= "kor-data" #
os.environ["GOOGLE_CLOUD_PROJECT"] = project_id

In [0]:

# a wrapper function that presets some configs
def run_query(query):
    return pd.io.gbq.read_gbq(query, 
                              dialect="legacy",
                              project_id     = project_id,
                              configuration = {'query':{'useLegacySql': False}})

In [0]:
df = run_query(
   """
    select * 

    from `{db}.patients` 
    
    where 
        subject_id = 10006 OR
        subject_id = 10040 OR
        subject_id = 10111
    """\
    .format(db = "physionet-data.mimiciii_demo"))

df.head()

   ROW_ID  SUBJECT_ID GENDER  ...   DOD_HOSP    DOD_SSN EXPIRE_FLAG
0    9467       10006      F  ... 2165-08-12 2165-08-12           1
1    9499       10040      F  ... 2150-09-05 2150-09-05           1
2    9566       10111      F  ... 2180-02-01 2180-02-01           1

[3 rows x 8 columns]

In [0]:
df_1 = run_query(
    """
    select p.subject_id, a.hadm_id, icustay_id, dob, admittime, dischtime, intime, outtime, ethnicity, gender

    from `{db}.patients` p, `{db}.admissions` a, `{db}.icustays` i

    where p.subject_id = a.subject_id AND 
          a.hadm_id    = i.hadm_id
    """\
    .format(db = "physionet-data.mimiciii_demo"))

# or...


df_2 = run_query(
    """ 
    select p.subject_id, a.hadm_id, icustay_id, dob, admittime, dischtime, intime, outtime, ethnicity, gender  
    from `{db}.patients` p
    inner join `{db}.admissions` a USING (subject_id)
    inner join `{db}.icustays` i USING (hadm_id)
    """\
    .format(db = "physionet-data.mimiciii_demo")
)


def is_same(df_1, df_2):
    if all(df_1 == df_2): return "the two dfs are equal"
    else: return "the two dfs are not equal"
      
print(is_same(df_1, df_2))
print("\n")

the two dfs are equal

In [0]:

##1
df = run_query("""
    select icustay_id, max(valuenum) as HeartRate_Max
    from `{db}.chartevents`
    where itemid in (
    
        select itemid
        from `{db}.d_items`
        where lower(label) = 'heart rate'
                    )
    group by icustay_id
      """\
    .format(db = "physionet-data.mimiciii_demo"))
df.head()

   icustay_id  HeartRate_Max
0      279554           99.0
1      226055          129.0
2      281609          144.0
3      262670          181.0
4      282640          101.0

In [0]:

##2 
df = run_query("""
    select icustay_id, max(valuenum) as HeartRate_Max
    from `{db}.chartevents`
    where itemid in (
    
        select itemid
        from `{db}.d_items`
        where lower(label) = 'heart rate'
                    )
    group by icustay_id
        having HeartRate_Max <= 140
      """\
    .format(db = "physionet-data.mimiciii_demo"))
df.head()

   icustay_id  HeartRate_Max
0      279554           99.0
1      226055          129.0
2      282640          101.0
3      244243          109.0
4      205589           98.0

In [0]:
df = run_query("""

     -- first_hadm_id table will store subject_id, hadm_id of patient's first visit.
    with first_hadm_id as (
    
      select subject_id, hadm_id
      from(
        select subject_id, hadm_id, row_number() over (partition by subject_id order by admittime asc) row_num
        from `{db}.admissions` 
        ) t  
      where row_num = 1 
      ),
      
    -- modified_age if age < 91.5 then age else 91.5
    modified_age as 
    (
        select subject_id, hadm_id, 
            case 
            when date_diff(cast(admittime as date),cast(dob as date),day)/365 < 91.5
                then date_diff(cast(admittime as date),cast(dob as date),day)/365
            else 91.5
            end as age 
        from `{db}.admissions` a 
        left join `{db}.patients` p
          using (subject_id)
    ),
    
    -- get primary diagnosis of each patient visit.
    primary_diag as
    (
        select subject_id, hadm_id,
          (select d_d.short_title
           from `{db}.d_icd_diagnoses` d_d
           where d_d.icd9_code = d.icd9_code
          ) as diagnosis
          
        from `{db}.diagnoses_icd` d
        where seq_num = 1
    )
    
    -- merge all sub queries with columns (subject_id, hadm_id, modified_age,primary_diag)    
    select first_hadm_id.*, age, diagnosis
    from primary_diag
    left join modified_age using(subject_id, hadm_id)
    left join first_hadm_id using(subject_id, hadm_id)
    
"""\
.format(db = "physionet-data.mimiciii_demo"))

df.head()

  subject_id hadm_id        age                 diagnosis
0      43779  186071  76.936986     Subdural hem w/o coma
1      40456  161765  87.208219   Ac on chr syst hrt fail
2      40204  175237  76.380822  Urin tract infection NOS
3      10006  142345  70.682192                    Sepsis
4      43798  130870  61.958904    Mal neo stomach cardia

In [0]:
# Lets create a dictionary object to store queries of each.
queries = \
    {"cohort_demo" : None, # entire cohort(first admit), age(year), gender(M|F).
     "outcome"     : None, # length of stay(days), length of stay(long|short).
     "diagnosis"   : None, # number of diagnosis.
     "lab"         : None, #  White_blood_cell_mean(24H), Hemoglobin_mean(24H)
     "vital"       : None} #  heart_rate_mean(24H), Temperature_max(24H), Temperature_min(24H)

In [0]:
queries["cohort_demo"] = \
"""
    -- first_hadm_id table will store subject_id, hadm_id of patient's first visit.
    with first_hadm_id as (
    
      select subject_id, hadm_id
      from(
        select subject_id, hadm_id, row_number() over (partition by subject_id order by admittime asc) row_num
        from `{db}.admissions` 
        ) t  
      where row_num = 1 
      ),
      
    -- modified_age if age < 91.5 then age else 19.5
    modified_age as 
    (
        select subject_id, hadm_id, 
            case 
            when date_diff(cast(admittime as date),cast(dob as date),day)/365 < 91.5
                then date_diff(cast(admittime as date),cast(dob as date),day)/365
            else 91.5
            end as age 
        from `{db}.admissions` a 
        left join `{db}.patients` p
          using (subject_id)
    ),
    
    -- gender. if M then 1 else 0 
    
    gender as 
    (
        select subject_id, 
            case when gender = 'M' then 1 else 0 end as sex
        from `{db}.patients`
    )
    
    -- merge all queries
    select first_hadm_id.*, age, sex
    from first_hadm_id
    left join modified_age using(subject_id, hadm_id)
    left join gender using(subject_id)
    
"""\
.format(db = "physionet-data.mimiciii_demo")

In [0]:
queries["outcome"] = \
"""
with length_of_stay as (
    select subject_id, hadm_id, icustay_id, 
        datetime_diff(icu.outtime, icu.intime, hour) AS icu_length_of_stay,
        row_number() over (partition by subject_id order by icu.intime asc) row_num
    from `{db}.icustays` as icu)
    
select subject_id, hadm_id, icu_length_of_stay as stay_con, 
       case 
       when icu_length_of_stay > 100  then 1
       else 0 end as stay_bi
from length_of_stay
where row_num = 1
"""\
.format(db = "physionet-data.mimiciii_demo")

In [0]:
queries["diagnosis"] = \
"""
select hadm_id, count(icd9_code) as n_diag
from `{db}.diagnoses_icd`
group by hadm_id
"""\
.format(db = "physionet-data.mimiciii_demo")

In [0]:
queries["lab"] = \
"""
with lab_tests as (
    select hadm_id, charttime, value, valuenum,
           case when itemid in (50811,51222) then 'hemoglobin'
                when itemid in (50822,50971) then 'potassium'
                else null end as label                     
    from `{db}.labevents`),
    
lab_tests_prune as (
    select subject_id, hadm_id, icustay_id, label, valuenum, charttime 
    from `{db}.icustays` 
    left join lab_tests lab using (hadm_id)
    where charttime between intime and datetime_add(intime,interval 1 day)
          and label is not null
          and valuenum is not null
          and valuenum > 0)

select hadm_id, icustay_id,
   avg(case when label = 'hemoglobin' then  valuenum else null end) as hemoglobin_avg,
   avg(case when label = 'potassium'  then  valuenum else null end) as troponin_avg
from lab_tests_prune
group by hadm_id, icustay_id
"""\
.format(db = "physionet-data.mimiciii_demo")

24시간 전까지의 데이터가 더 신빙성이 있음

In [0]:
queries["vital"] = \
"""
with vital_tests as (
    select hadm_id, charttime, value, valuenum,
           case when itemid in (223762,676,223761,678) then 'temperature'
                when itemid in (211,220045) then 'blood_pressure'
                else null end as label                     
    from `{db}.chartevents`),
    
vital_tests_prune as (
    select subject_id, hadm_id, icustay_id, label, valuenum, charttime 
    from `{db}.icustays` 
    left join vital_tests lab using (hadm_id)
    where charttime between intime and datetime_add(intime,interval 1 day)
          and label is not null
          and valuenum is not null
          and valuenum > 0)

select hadm_id, icustay_id,
   max(case when label = 'temperature' then  valuenum else null end) as temperature_max,
   min(case when label = 'temperature' then  valuenum else null end) as temperature_min,
   avg(case when label = 'blood_pressure' then   valuenum else null end) as blood_pressure_mean
from vital_tests_prune
group by hadm_id, icustay_id
"""\
.format(db = "physionet-data.mimiciii_demo")

In [0]:
tables = map(run_query, queries.values())
df = reduce(lambda x,y : pd.merge(x,y), tables)

In [0]:
df.head()

   subject_id  hadm_id  ...  temperature_min  blood_pressure_mean
0       10006   142345  ...        97.500000            86.062500
1       10011   105331  ...        97.199997            86.958333
2       10013   165520  ...        36.799999            98.725000
3       10017   199207  ...        95.000000            95.227273
4       10019   177759  ...        93.199997            83.547619

[5 rows x 13 columns]

In [0]:
# which column contains na?
na_columns = \
[(c_name, df[c_name].dtypes)
     for c_name 
     in df.columns
     if any(pd.isnull(df[c_name]))]

print(na_columns)

# maen imputation
for na_col in map(lambda x : x[0],na_columns):
    df[na_col] = df[na_col].fillna((df[na_col].mean()))
    
    
# select columns of interest
X_name = ['hemoglobin_avg',
          'n_diag',
          'troponin_avg',
          'age',
          'sex',
          'temperature_min',
          'blood_pressure_mean',
          'temperature_max',]

Y_name = "stay_con"

X = df[X_name]; y = df[Y_name]
# Linear regression
ols = linear_model.LinearRegression()
ols.fit(X,y)

# to print summary table:
print("\n=========== SUMMARY ===========")
xlabels = X_name
stats.summary(ols, X, y, xlabels)

[('hemoglobin_avg', dtype('float64'))]

=========== SUMMARY ===========
Residuals:
    Min       1Q   Median        3Q       Max
-53.243  56.1242  91.3415  145.4183  468.5783


Coefficients:
                       Estimate  Std. Error  t value   p value
_intercept           749.819963  206.394247   3.6329  0.000442
hemoglobin_avg         1.903125    8.217309   0.2316  0.817318
n_diag                 6.785095    2.077129   3.2666  0.001488
troponin_avg         -20.337571   20.272232  -1.0032  0.318151
age                   -3.805717    0.666202  -5.7126  0.000000
sex                  -55.332615   26.491244  -2.0887  0.039248
temperature_min       -1.391955    0.781704  -1.7807  0.077973
blood_pressure_mean   -0.399348    0.606331  -0.6586  0.511632
temperature_max       -2.068907    0.997843  -2.0734  0.040682
---
R-squared:  0.31976,    Adjusted R-squared:  0.26125
F-statistic: 5.46 on 8 features

In [0]:
# select columns of interest
X_name = ['hemoglobin_avg',
          'n_diag',
          'troponin_avg',
          'age',
          'sex',
          'temperature_min',
          'blood_pressure_mean',
          'temperature_max',]

Y_name = "stay_bi"

X  = df[X_name]; y = df[Y_name]
# Linear regression
logit = sm.Logit(y,X)
# fit the model
result = logit.fit()
# to print summary table:
print("\n=========== SUMMARY ===========")
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.430271
         Iterations 6

=========== SUMMARY ===========
                           Logit Regression Results
==============================================================================
Dep. Variable:                stay_bi   No. Observations:                  102
Model:                          Logit   Df Residuals:                       94
Method:                           MLE   Df Model:                            7
Date:                Sat, 31 Aug 2019   Pseudo R-squ.:                  0.2555
Time:                        06:22:31   Log-Likelihood:                -43.888
converged:                       True   LL-Null:                       -58.948
Covariance Type:            nonrobust   LLR p-value:                 9.023e-05
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
hemoglobin_avg         -0.0162      0.175     -0.093      0.926      -0.359       0.327
n_diag                  0.1124      0.048      2.361      0.018       0.019       0.206
troponin_avg            0.5337      0.413      1.293      0.196      -0.275       1.343
age                    -0.0515      0.017     -2.960      0.003      -0.086      -0.017
sex                    -1.0885      0.589     -1.847      0.065      -2.244       0.067
temperature_min        -0.0686      0.025     -2.693      0.007      -0.119      -0.019
blood_pressure_mean    -0.0165      0.016     -1.017      0.309      -0.048       0.015
temperature_max         0.0730      0.033      2.237      0.025       0.009       0.137
=======================================================================================

In [0]:
class config():
    input_size    = 8  
    train_len     = 80    
    output_size   = 2 
    learning_rate = 10**-5
    batch_size    = 2
    epoch         = 2
    
    
"""
preprocessing tools
""" 
set_format       = np.float32
normalise        = lambda xs : (xs - np.mean(xs))/np.var(xs)
add_random_noise = lambda xs : xs + np.random.normal(0,0.001,len(xs)) 

preprocess = compose(add_random_noise,normalise,set_format)

"""
data control tools
"""
data_gen = lambda X : list(map(list,zip(*([X] * config.batch_size))))

"""
model
"""
model = tf.keras.Sequential([
  tf.keras.layers.Dense(12, activation=tf.nn.relu, input_shape=(config.input_size,)),  # input shape required
  tf.keras.layers.Dense(24, activation=tf.nn.relu),
  tf.keras.layers.Dense(2, activation = tf.nn.sigmoid)
])

def grad(model, inputs, targets):
    with tf.GradientTape() as tape:
        loss_value = loss(model, inputs, targets)
    return loss_value, tape.gradient(loss_value, model.weights)


loss_object = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
def loss(model, x, y):
    y_ = model(x)
    return loss_object(y_true=y, y_pred=y_)

optimizer = tf.keras.optimizers.Adam(learning_rate = 0.0001)

In [0]:
X_val = X.values
y_val = y.values

X_train, y_train = X_val[:config.train_len], y_val[:config.train_len]
X_test,  y_test  = X_val[config.train_len:], y_val[config.train_len:]

In [0]:

## Note: Rerunning this cell uses the same model variables

# Keep results for plotting
train_loss_results = []
train_accuracy_results = []

for epoch in range(config.epoch):

    epoch_loss_avg = tf.keras.metrics.Mean()
    epoch_accuracy = tf.keras.metrics.SparseCategoricalAccuracy()

    # Training loop - using batches of 32
    for _x, _y in zip(data_gen(map(preprocess, X_train)),
                      data_gen(y_train)):
        
        x_np = np.array(_x)
        y_np = np.array(_y)
        
        # Optimize the model
        loss_value, grads = grad(model, x_np, y_np)
        optimizer.apply_gradients(zip(grads, model.trainable_variables))

        # Track progress
        epoch_loss_avg(loss_value)  # Add current batch loss
        # Compare predicted label to actual label
        epoch_accuracy(y_np, model(x_np))

    # End epoch
    train_loss_results.append(epoch_loss_avg.result())
    train_accuracy_results.append(epoch_accuracy.result())

    if epoch % 1 == 0:
      print("Epoch {:03d}: Loss: {:.3f}, Accuracy: {:.3%}".format(epoch,
                                                                  epoch_loss_avg.result(),
                                                                  epoch_accuracy.result()))

WARNING:tensorflow:Layer dense_3 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 000: Loss: 0.693, Accuracy: 56.250%
Epoch 001: Loss: 0.692, Accuracy: 72.500%

끝